# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Web Projects\fade-parallax-example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
